# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
! .env.example

# OS/Editors
.DS_Store
.idea/
.vscode/

# Database
instance/
*.db
